/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #657ED4;
  --f7-theme-color-rgb: 101, 126, 212;
  --f7-theme-color-shade: #4563cb;
  --f7-theme-color-tint: #8599dd;
}

/* Your app custom styles here */